.body {
    margin: 0;
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: .93rem;
}

.sidebar {
    
    width: 250px;
    background-color: #F5F8F7;
    height: 100vh;
    border-right: 1px solid #ddd;
    padding: 20px 0;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.header1{
    font-size: 18px;
    color: #048848;
    margin: 0;
    font-weight: normal;
}

.menu {
    padding: 0 20px;
}

.header2{
    font-size: 16px;
    color: #048848;
    margin-bottom: 15px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 17px;
}

.menu ul li a:hover {
    color: #048848;
}

.menu ul li a .icon {
    background-color: #F5F8F7;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.collapse {
    padding: 0 20px;
    position: static;
    bottom: 20px;
    width: 100%;
}

.collapse a {
    text-decoration: none;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    display: block;
    text-align: right;
}

.collapse a:hover {
    color: #048848;
}
