<div class="body">
    <div class="sidebar">
        <div class="logo">
            <img src="/src/assets/Logo.jpeg" alt="Logo">
            <h1 class="header1">دانشگاه آوا</h1>
        </div>
        <hr>
        <div class="menu">
            <h2 class="header2">مدرسه من</h2>
            <ul>
                <li><a href="#"> مدیریت آموزشی</a></li>
                <li><a href="#"> حضورغیاب</a></li>
                <li><a href="#"> دانش آموزان</a></li>
                <li><a href="#"> آزمون ساز</a></li>
                <li><a href="#"> کارنامه ساز</a></li>
                <li><a href="#"> مشاوره</a></li>
                <li><a (click)="goOnlineClass()"> کلاس آنلاین</a></li>
                <li><a href="#"> مالی</a></li>
                <li><a href="#"> ارتباطات</a></li>
                <li><a href="#"> تقویم اجرایی</a></li>
                <li><a href="#"> ارزیابی دبیران</a></li>
                <li><a href="#"> تیکتینگ</a></li>
            </ul>
        </div>
        <div class="collapse">
            <a href="#">جمع شدن</a>
        </div>
    </div>
</div>
